api_url: "http://prod-builds-1.points.com:8111/httpAuth/app/rest"
http_user: "admin"
http_password: "correct horse battery staple"
projects:
    fidelity-ft: Development_DevFidelity_DevFidelityHead
    buy-ft: Development_DevBuyService_DevBuyServiceHead_2
    gift-ft: Development_DevGiftService_DevGiftServiceHead
    transfer-ft: Development_DevTransferService_DevTransferServiceHead
    move-ft: Development_DevMoveService_DevMoveServiceHead
    orders-ft: Development_DevOrdersService_DevOrdersServiceHead
excluded_buildtypes:
    - Development_DevOrdersService_DevOrdersServiceHead_FtLoadTest_2
