<% content_for :title do %>Information Radiator<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="fidelity-ft-deploy" data-view="TeamCity" data-unordered="true" data-title="Fidelity FT deploy"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="fidelity-publish" data-view="TeamCity" data-unordered="true" data-title="Fidelity Push Image to Registry"></div>
    </li>
  </ul>
</div>
