<% content_for :title do %>Information Radiator<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fidelity-ft" data-view="TeamCity" data-unordered="true" data-title="Fidelity (FT)"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="buy-ft" data-view="TeamCity" data-unordered="true" data-title="Buy (FT)"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gift-ft" data-view="TeamCity" data-unordered="true" data-title="Gift (FT)"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="transfer-ft" data-view="TeamCity" data-unordered="true" data-title="Transfer (FT)"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="move-ft" data-view="TeamCity" data-unordered="true" data-title="Move (FT)"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="orders-ft" data-view="TeamCity" data-unordered="true" data-title="Orders (FT)"></div>
    </li>
  </ul>
</div>
