<% content_for :title do %>Information Radiator<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="fidelity-ft" data-view="TeamCity" data-unordered="true" data-title="Fidelity FT"></div>
    </li>
  </ul>
</div>
